* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}
/* padding */
.padding120 {
  padding: 100px 0;
}
.padding64 {
  padding: 64px 0 30px;
}
.padding32 {
  padding-top: 32px;
}

/* wrapper */
.wrapper100 {
  width: calc(100% - 30px);
  margin: 0 15px;
}
.wrapper70 {
  width: calc(100% - 30px);
  margin: 0 15px;
}

/* margin */
.margin_bottom20 {
  margin-bottom: 20px;
}

/* btn */
.btn_white {
  border: 1px solid #034afe;
  vertical-align: inherit;
}
.nav_fixed ul li a.btn_white,
.footer a.btn_white {
  color: #034afe;
  background-color: white;
}
.nav_fixed ul li a.btn_white:hover {
  color: white;
  background-color: #034afe;
}

/* color */
.color_white {
  color: white;
}
.color_grey {
  color: #babbbe;
}

/* font */
h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
}
h2 {
  margin: 0 0 25px;
  font-size: 36px;
  font-weight: 700;
  color: #020d29;
}
h3 {
  font-size: 30px;
  font-weight: 600;
  color: #020d29;
}
h4 {
  margin: 16px 0 16px;
  font-size: 18px;
}
h5 {
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: 700;
  color: #081e50;
}

.p_under_title {
  margin: 16px 0 64px;
  font-size: 20px;
  color: #808d9e;
}
.p_underh4 {
  margin-top: 16px;
  font-size: 16px;
  color: #808d9e;
}
.font_size13 {
  font-size: 13px;
}

/* glyphicon down*/
.nav_fixed ul li span,
.logo span,
.business span,
.rockerbox span {
  margin-left: 5px;
  font-size: 10px;
}

/* glyphicon right */
.logo a,
.business a,
.rockerbox a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #034afe;
}
.logo a:hover,
.business a:hover,
.rockerbox a:hover {
  text-decoration: none;
}

/* HEADER FIXED*/
.nav_fixed {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  line-height: 80px;
  z-index: 3;
  background-color: white;
  box-shadow: 0px 1px 20px -7px rgba(191,191,191,1);
}

.nav_fixed img {
  vertical-align: middle;
  width: 150px;
}

.nav_fixed ul li a {
  color: #020d29;
  font-weight: 500;
}
.nav_fixed ul li a.menu:hover {
  text-decoration: none;
  color: #034afe;
}
.nav_fixed ul li {
  margin-left: 5px;
}

.nav_fixed a {
  color: #034afe;
}
.nav_fixed a:hover {
  text-decoration: none;
  cursor: context-menu;
}

/* jumbo */
.jumbo {
  margin-top: 80px;
  background-image: url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg);
  background-size: cover;
}

.jumbo p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #eceef6;
}

.jumbo_form {
  max-width: 100%;
  padding: 30px 20px;
  border-radius: 5px;
  background-color: white;
}

.jumbo_padding_top{
  padding-top: 20px;
}

.jumbo_input {
  height: 48px;
  font-size: 16px;
  border-color: #eceef6;
}
.jumbo_input::placeholder {
  color: #56607b;
}

.jumbo_input:focus {
  border-color: #034afe;
  box-shadow: none;
}

.btn_blue {
  color: white;
  background-color: #034afe;
}
.btn_blue:hover {
  color: white;
  background-color: #003ed8;
}

.or_line p{
  color: #798392;
  font-size: 16px;
}

.btn_google {
  position: relative;
  font-weight: 500;
  color: #020d29;
  border-color: #74a4e8;
  background-color: #ebf6fd;
}
.btn_google:hover {
  background-color: #cde4f3;
}
.btn_google img {
  width: 16px;
  position: absolute ;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

/* logo */
.logo {
  line-height: 110px;
  background-color: #eceef6;
}

.line_height {
  vertical-align: middle;
}

.logo_first img {
  width: 70%;
  /* height: 140px; */
  /* max-height: 160px; */
}

.logo_second img {
  width: 70%;
  /* height: 131px; */
  /* max-height: 160px; */
}

.logo_third img {
  width: 70%;
  margin: 0;
  /* height: 81%; */
  /* max-height: 164px; */
  /* margin-top: 10px; */
}

.logo_last img{
  margin: 0;
  width: 70%;
}


/* deploy */
.deploy_list {
  padding: 20px;
  font-size: 16px;
  border-left: 2px solid #eceef6;
}

.deploy li {
  margin-bottom: 20px;
}
.deploy a {
  color: #798392;
  font-weight: 500;
}

.deploy a:hover {
  color: #020d29;
  text-decoration: none;
}

.img_block {
  display: block;
}

.deploy_box_top {
  min-height: 230px;
}

/* designed */
.designed {
   background-color: #eceef6;
}

.designed img {
  width: 100%;
  margin-bottom: 20px;
  cursor: grab;
}

.arrow {
  margin: 0 10px;
  font-size: 20px;
}

/* customers */
.customers {
  background-image: url(../img/earth-74015.jpg);
  background-size: cover;
  background-position: center;
  }

.customers h2 {
  color: white;
}
.padding_left_right20 {
  padding: 0 20px;
}
.border_bottom {
  border-bottom: 1px solid #536180;
  padding: 5px 0;
}
.customers p {
  font-weight: 600;
}

.customers ul li a {
  color: #10c2c3;
}
.customers ul li a:hover {
  color: #034afe;
  text-decoration: none;
}

/* rockerbox */
.rocker {
  background-color:  #eceef6;
}

.rocker_a {
  text-decoration: underline;
  color: #034afe;
}

.rockerbox {
  display: inline-block;
  width: calc(100% - 30px);
  margin: 0 15px;
  padding: 50px 30px 80px;
  vertical-align: middle;
  background-color: white;
  cursor: grab;
}

.rockerbox img {
  width: 175px;
}

.rockerbox_p24 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #8491a3;
}
.rockerbox_p16 {
  margin-top: 10px;
  font-size: 16px;
  color: #8491a3;
}
.rockerbox_p12 {
  margin-bottom: 20px;
  font-size: 12px;
  color: #8491a3;
}

.ul_margin_top {
  margin-top: 20px;
}

/* FOOTER */
.footer {
  background-color: #020d29;
}
.footer a.btn_white {
  padding: 10px 15px;
  margin: 20px 0 64px;
  font-size: 16px;
  border: 0;
}
.footer a.btn_white:hover {
  background-color: #ebedf5;
}

.footer_p16 {
  padding: 10px 30px 10px 0;
  margin: 10px 0;
  font-size: 16px;
  color: #8491a3;
}

.footer i {
  margin-right: 5px;
  font-size: 18px;
}
.footer a {
  color: #8491a3;
}
.footer a:hover {
  color: white;
  text-decoration: none;
}

.footer h4 {
  color: white;
}

/* SHARK */
.shark {
  position: relative;
  position: fixed;
  right: 20px;
  bottom: 30px;
}
.shark img {
  position: fixed;
  right: 20px;
  bottom: 30px;
  padding: 10px;
  width: 6%;
  border-radius: 10px;
  background-color: #45b7d6;
  z-index: 4;
}

.notif {
  position: absolute;
  right: 50px;
  bottom: 200px;
  background-color: red;
  border: 4px solid white;
  border-radius: 50%;
  padding: 3px;
  z-index: 5;
}
/* MEDIA QUERY */
/* SMALL */
@media screen and (min-width:768px) {
  h1 {
    font-size: 64px;
  }
  .jumbo_title {
    padding: 0 40px 0 0;
  }
  .jumbo_form {;
    max-width: 80%;
  }
  .line_height {
    line-height: 119px;
  }
  .logo_third img{
    margin-top: 0;
  }
  .logo img {
    width: 100%;
    min-height: 40px;
    max-height: 100px;
    vertical-align: middle;
  }
  .logo_last img{
    padding-top: 0;
  }
  .designed img {
    width: 80%;
  }
  .wrapper70 {
    width: 70%;
    margin: 0 auto;
  }
  .business .margin_bottom20 {
    margin-bottom: 0;
  }
  .rockerbox {
    display: inline-block;
    width: 80%;
    margin: 0 auto;
  }
}

/* MEDIUM */
@media screen and (min-width:992px) {
  .jumbo_title p {
    font-size: 24px;
  }
  .rockerbox {
    display: inline-block;
    width: 50%;
    margin: 0 auto;
  }
}

/* LARGE */
@media screen and (min-width:1200px) {
  .wrapper100 {
    width: 70%;
    margin: 0 auto;
  }
  .designed img {
    width: 80%;
  }
  .arrow {
    margin: 0 30px;
    font-size: 30px;
  }
}
