* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.debug {
  border: 3px solid black;
}

.padding120 {
  padding: 100px 0;
}

.padding64 {
  padding: 64px 0 30px;
}
.wrapper100 {
  width: calc(100% - 30px);
  margin: 0 15px;
}

.btn_white {
  border: 1px solid #034afe;
  vertical-align: inherit;
}

.btn_white:hover {
  background-color: #034afe;
  color: white;
}

.color_white {
  color: white;
}

h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
}

h2 {
  margin: 0 0 16px;
  font-size: 36px;
  font-weight: 700;
  color: #020d29;
}
h3 {
  font-size: 30px;
  font-weight: 600;
  color: #020d29;
}

h4 {
  margin: 16px 0 16px;
  font-size: 18px;
}
h5 {
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: 700;
  color: #081e50;
}

.p_under_title {
  margin: 16px 0 64px;
  font-size: 20px;
  color: #808d9e;
}

.p_underh4 {
  margin-top: 16px;
  font-size: 16px;
  color: #808d9e;
}
/* HEADER FIXED*/
.nav_fixed {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  line-height: 80px;
  z-index: 3;
  background-color: white;
}

.nav_fixed img {
  vertical-align: middle;
  width: 150px;
}

.nav_fixed ul li a {
  color: #020d29;
  font-weight: 500;
}
.nav_fixed ul li a.menu:hover {
  text-decoration: none;
  color: #034afe;
}
.nav_fixed ul li {
  margin-left: 5px;
}
.nav_fixed ul li span,
.logo span {
  margin-left: 5px;
  font-size: 10px;
}

.nav_fixed a {
  color: #034afe;
}
.nav_fixed a:hover {
  text-decoration: none;
  cursor: context-menu;
}
/* jumbo */
.jumbo {
  margin-top: 80px;
  background-image: url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg);
  background-size: cover;
}

.jumbo p {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #eceef6;
}
.relative{
  position: relative;
}
.jumbo_title {
  padding: 0 40px;
}
.jumbo_form {
  max-width: 100%;
  background-color: white;
  padding: 30px 20px;
  border-radius: 5px;
}

.jumbo_padding_top{
  padding-top: 20px;
}

.jumbo_input {
  height: 48px;
  font-size: 16px;
  border-color: #eceef6;
}
.jumbo_input::placeholder {
  color: #56607b;
}

.jumbo_input:focus {
  border-color: #034afe;
  box-shadow: none;
}

.btn_blue {
  color: white;
  background-color: #034afe;
}
.btn_blue:hover {
  color: white;
  background-color: #003ed8;
}

.or_line {
  line-height: 16px;
  margin: 5px 0;
}
.or_line p{
  color: #798392;
  font-size: 16px;
  margin-top: 15px;
  display: inline-block;
}

.or_line:before ,
.or_line:after {
  visibility: hidden;
  content: "";
  display: inline-block;
  height: 1px;
  background-color: #eceef6;
  vertical-align: middle;
}
.or_line:before {
  margin-right: 30px;
}
.or_line:after {
  margin-left: 30px;
}

.btn_google {
  position: relative;
  background-color: #ebf6fd;
  border-color: #74a4e8;
  color: #020d29;
  font-weight: 500;
}
.btn_google:hover {
  background-color: #cde4f3;
}
.btn_google img {
  width: 16px;
  position: absolute ;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

/* logo */
.logo {
  background-color: #eceef6;
  line-height: 110px;
}

.line_height {
  vertical-align: middle;
}

.logo_first img {
  width: 80%;
  min-height: 140px;
  max-height: 160px;
}

.logo_second img {
  width: 70%;
  min-height: 131px;
  max-height: 160px;
}

.logo_third img {
  width: 70%;
  min-height: 81px;
  max-height: 164px;
  margin-top: 10px;
}

.logo_last img{
  padding-top: 15px;
}

.logo a {
  font-size: 16px;
  font-weight: 600;
  color: #034afe;
}

.logo a:hover {
  text-decoration: none;
}
/* deploy */
.deploy_list {
  border-left: 2px solid #eceef6;
  padding: 20px;
  font-size: 16px;
}

.deploy li {
  margin-bottom: 20px;
}
.deploy a {
  color: #798392;
  font-weight: 500;
}

.deploy a:hover {
  color: #020d29;
  text-decoration: none;
}

.img_block {
  display: block;
}

.deploy_box_top {
  min-height: 230px;
}
/* designed */
.designed {
   background-color: #eceef6;;
}

.designed img {
  width: 80%;
  margin-bottom: 20px;
}

.arrow {
  margin: 0 30px;
  font-size: 30px;
}
/* business */
.business {
  background-color: darkblue;
}

/* customers */
.customers {
  background-color: green;
  }

/* rockerbox */
.rockerbox {
  background-color: lightgrey;
}

/* FOOTER */
.footer {
  background-color: blue;
}

@media screen and (min-width:1200px) {
  .wrapper100 {
    width: 70%;
    margin: 0 auto;
  }
  .or_line:before ,
  .or_line:after {
    visibility: visible;
    width: 30%;
  }
}

@media screen and (min-width:992px) {
  .jumbo_title p {
    font-size: 24px;
  }

}
@media screen and (min-width:768px) {
  h1 {
    font-size: 64px;
  }
  .jumbo_form {;
    max-width: 80%;
  }
  .line_height {
    line-height: 119px;
  }
  .logo_third img{
    margin-top: 0;
  }
  .logo img {
    width: 100%;
    min-height: 40px;
    max-height: 100px;
    vertical-align: middle;
  }
  .logo_last img{
    padding-top: 0;
  }
}

@media screen and (min-width:440px) {
  .or_line:before ,
  .or_line:after {
    visibility: visible;
    width: 20%;
  }
}

@media screen and (min-width: 370px) {
  .or_line:before ,
  .or_line:after {
    visibility: visible;
    width: 13%;
  }
}
